body{
background-color:#F19DBC;
color:red;
}

footer{
background-color: #FBE2BA;
font-family: "Lovers Quarrel";
font-size:50px;
font-weight:bold;
color:black;
padding: 5px;
}

h1{
  text-align:center;
  font-family:"Monoton";
  font-size:100px;
}
h2{
	font-family:"Monoton";
  font-size:30px;
  color:hotpink;
  text-align:center;
}

#flowers{
  background:orange;
  padding:5px;
}
.message1{
	text-align:center;
	font-family:"Sansita";
	font-size:20px;
}
#greeting{
  background:yellow;
  padding:5px;

}
#box{
  background:lavender;
  text-align:center;
  padding:5px;

  
}
button{
    font-size:15px;
	background-color:pink;
	border:none;
	color:white;
	text-align:center;
	text-decoration:none;
    padding:8px 16px;
}
button:hover{
    background-color:red;
    cursor: url("http://downloads.totallyfreecursors.com/cursor_files/heartani.cur"), url("http://downloads.totallyfreecursors.com/thumbnails/heart-ani.gif"), auto;

}
.wrapper{
  text-align:center;
}

.message{
	font-family:'Sansita';
    font-size: 20px;
    font-style: italic;
    text-align:center;
    color:hotpink;
}

.img1{
	width:25%;
	height:25%;
}



#slideshow { 
	background:lightgreen;
	float:left;
    margin: 225px 225px 225px 230px; 
    position: absolute;
    text-align:center;
    width: 270px; 
    height: 180px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#twitter{
	 margin-left:500px; 
}



